name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:

# Only cancel in-progress jobs or runs for the current workflow
#   This cancels the already triggered workflows for a specific PR without canceling
#   other instances of this workflow (other PRs, scheduled triggers, etc) when something
#   within that PR re-triggers this CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tox_pytest:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.14 Tests
            python-version: "3.14"
            os: ubuntu-latest
            toxenv: py314

          - name: Python 3.13 Tests
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: py313

          - name: Python 3.12 Tests
            python-version: "3.12"
            os: ubuntu-latest
            toxenv: py312

          - name: Python 3.11, with Code Coverage
            python-version: "3.11"
            os: ubuntu-latest
            toxenv: coverage

          - name: Python 3.13, Windows
            python-version: "3.13"
            os: windows-latest
            toxenv: py313

          - name: Python 3.13, MacOS
            python-version: "3.13"
            os: macos-latest
            toxenv: py313

          - name: Code Style Checks
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: style

          - name: ASDF Standard Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf-standard

          - name: ASDF Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf

          - name: ASDF-transform-schemas Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf-transform-schemas

          - name: ASDF-coordinates-schemas Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf-coordinates-schemas

          - name: ASDF-wcs-schemas Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf-wcs-schemas

          - name: ASDF-astropy Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: asdf-astropy

          - name: rad Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: rad

          - name: stdatamodels Document Build
            python-version: "3.13"
            os: ubuntu-latest
            toxenv: stdatamodels

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}
      - name: Upload Code Coverage
        if: ${{ contains(matrix.toxenv,'coverage') }}
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
